Store_Pashnev/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Store_WSL" />
  <xs:element name="GetUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nick" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatabaseAccess">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatabaseAccessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Store_WSL" minOccurs="0" name="GetDatabaseAccessResult" nillable="true" type="q1:DataBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurIdentity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurIdentityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCurIdentityResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPosition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Store_WSL" minOccurs="0" name="position" nillable="true" type="q2:Position" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPositionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Store_WSL" minOccurs="0" name="SetPositionResult" nillable="true" type="q3:DataBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Store_WSL" minOccurs="0" name="product" nillable="true" type="q4:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Store_WSL" minOccurs="0" name="SetProductResult" nillable="true" type="q5:DataBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Store_WSL" minOccurs="0" name="product" nillable="true" type="q6:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Store_WSL" minOccurs="0" name="DelProductResult" nillable="true" type="q7:DataBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Store_WSL" minOccurs="0" name="department" nillable="true" type="q8:Department" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Store_WSL" minOccurs="0" name="SetDepartmentResult" nillable="true" type="q9:DataBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Store_WSL" minOccurs="0" name="employee" nillable="true" type="q10:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Store_WSL" minOccurs="0" name="SetEmployeeResult" nillable="true" type="q11:DataBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Store_WSL" minOccurs="0" name="user" nillable="true" type="q12:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Store_WSL" minOccurs="0" name="SetUserResult" nillable="true" type="q13:DataBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Store_WSL" minOccurs="0" name="client" nillable="true" type="q14:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Store_WSL" minOccurs="0" name="SetClientResult" nillable="true" type="q15:DataBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Store_WSL" minOccurs="0" name="order" nillable="true" type="q16:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Store_WSL" minOccurs="0" name="SetOrderResult" nillable="true" type="q17:DataBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Store_WSL" minOccurs="0" name="order" nillable="true" type="q18:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Store_WSL" minOccurs="0" name="RemoveOrderResult" nillable="true" type="q19:DataBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DbRenew">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>